<!DOCTYPE html>
<html>
<head>
  <title>LifeAZaim</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">
            Life a Zaim
          </a>
          <ul class="nav">
            <li>
            </li>
            <li>
            </li>
            <li>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit" style="background-color:#F08080;">
        <div>
          <h1>
            Life a Zaim
          </h1>
          <p>
            I'm a super hero!
          </p>
        </div>
      </div>
      </div>	
<div class="container">

<%= yield %>

</div>

</body>
</html>
