<h1>New cashflow</h1>
<div class="container">
    <div class="hero-unit"  style="background-color:#F08080;">
        <h1>Listing cashflows</h1>
    </div>
</div>  
<%= render 'form' %>

<%= link_to 'Back', cashflows_path %>
